ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: gray;
}
ul li{
    float:left;
    padding: 15px 20px;
    font-size: 30px;

}
ul a{
    text-decoration: none;
    display: inline-block;
    color:chartreuse;
}
ul li:hover{
    background-color: black;
    border-radius: 20px;
}
/* ul a:hover{
   color: black;
    
} */
.right{
    float: right;
}