div{
    height:350px;
    
}
.white{
    background-color: white;
}
.dms{
    position: relative;
     margin:0 auto;
    max-width: 350px;
    max-height: 200px;
    margin-top:70px;
    text-align: center;
   background-color:gray;
    padding: 30px;
    border-radius: 20px;
opacity: 0.8;
}