body{
    background: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_960_720.jpg")no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.black{
    height: 400px;
    background:black;
    margin-top: 10%;
    border-radius: 40px;
    text-align: center;
    color: aliceblue;
    padding:50px;
    opacity: 0.7;
}