video{
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:-600px;
    margin-left:-900px;
    z-index:1;

}

div{
    position: relative;
    z-index:2;
    margin:0 auto;
    max-width: 500px;
   
    text-align: center;
    margin-top: 20%;
    background-color:gray;
    padding: 30px;
    border-radius: 20px;
opacity: 0.8;
}

h1{
    color:aqua;
}
button{
    background-color: black;
    color: blueviolet;
}