.dha{
   margin-top:40px ;
   text-align: center;
   margin-bottom: 40px;
}
.dha h1{
    margin-bottom: 10px;
    
}
.dha img{
    margin-bottom: 25px;
}
.dha h6{
    margin-left: 27px;
    margin-right: 27px;
}
.parallax{
    height: 400px;
    padding: 100px;
    text-align: center;
    color: aliceblue;
}
.content{
    text-align: center;
    padding: 50px;
    
}
.content h1{
    margin-top: 80px;
}
.content2{
    text-align: center;
    padding: 50px;
    
}
.content2 h1{
    margin-top: 50px;
}
.content3{
    text-align: center;
    padding: 50px;
    
}
.content3 h1{
    margin-top: 50px;
}
footer{
    height: 70px;
    background: rgb(156, 151, 151);
    text-align: center;
    padding: 30px;

}
footer a{
    color: azure;
}