a {
    font-size: 45px;
    display: inline-block;
    padding: 50px 20px;
    background-color: chartreuse;
    text-decoration: none;
    border-radius: 25px;

}
a:hover{
    background-color: aqua;
    box-shadow: 10px 55px 68px 0px rgba(0,0,0,0.75);
}
a:active{
    background-color: blue;
}
.red{
    color: blue;
}
.dm{
    background-color: darkgreen;
}
/* a:link{
    color: black;
}
a:hover{
    color:darkred
}
a:active{
    color:chartreuse;
}
a:visited{
    color: aqua;
} */