body{
    background-color:#2e3133;
}

.sidebar li{
    padding: 20px;
    margin-right: 50px;
   
    
}
.sidebar a{
    text-decoration: none;
    color: antiquewhite;
}
.bg{
    background-color: #141517;
    color: antiquewhite;
}
.bg h1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.box-blue{
    height: 220px;
    border-radius: 20px;
    background:linear-gradient(to bottom right,#1E9600,#FFF200,#FFFFFF);
    text-align: center;
    padding: 80px;
    color: black;

}
.box-blu{
    height: 220px;
    border-radius: 20px;
    background:linear-gradient(to bottom right,#1E9600,#FFF200,#FFFFFF);
    text-align: center;
    padding: 80px;
    color: black;


}
.box-bl{
    height: 220px;
    border-radius: 20px;
    background:linear-gradient(to bottom right,#00F260,#0575E6,#ffffff);
    text-align: center;
    padding: 80px;
    color: black;


}
.table{
    color: #FFFFFF;
}